<footer class="footer">
    <nav>
        <ul>
            <li><a href="/">
                    HOME
                </a>
            </li>
            <li><a href="{% url 'about' %}">
                    ABOUT
                </a>
            </li>
            
            <li>
                <a href="https://www.facebook.com/ellie1217"><i class="fab fa-facebook"></i></a>
            </li>
            <li> <a href="https://www.instagram.com/wholesomenomad"><i class="fab fa-instagram"></i></a>
            </li>
        </ul>

    </nav>

</footer>